<div class="top-[22%] overflow-hidden absolute left-4 right-4 animate-openFromMiddle text-center">
  <div class="bg-primary rounded-b-3xl pb-[4rem]">
    <div class="w-1/2 px-[4rem] m-auto flex flex-col justify-center bg-white bg-opacity-50 backdrop-blur-lg rounded-3xl pt-[5rem] ">
      <form [formGroup]="inscriptionForm" (ngSubmit)="signup()" class="w-full" >
        <div class="flex w-full justify-between gap-3 ">
          <div class="flex flex-col wrap grow">
            <label matTooltip="Info about the action" for="prenom" class="text-white">Prenom:</label>
            <input matInput matTooltip="Hello"         aria-label="Button that displays a tooltip when focused or hovered over" type="text" id="prenom" formControlName="prenom" class="border p-2 rounded-md w-full" required>
          </div>
          <div class="flex flex-col grow">
            <label for="nom" class="text-white">Nom:</label>
            <input type="text" id="nom" formControlName="nom" class="border p-2 rounded-md w-full">
          </div>
        </div>
          <div class="flex w-full justify-between gap-3 ">
            <div class="flex flex-col flex-1">
              <label for="email" class="text-white">Email:</label>
              <input type="email" id="email" formControlName="email" class="border p-2 rounded-md w-full bg-white">
          </div>
          <div class="flex flex-col flex-1">
            <label for="sexe" class="text-white">Sexe:</label>
            <select id="sexe" formControlName="sexe" class="border p-2 rounded-md w-full bg-white h-full" required>
              <option value="H">Homme</option>
              <option value="F">Femme</option>
              <option value="O">Autre</option>
            </select>
          </div>
        </div>
        <div class="flex w-full justify-between gap-3 ">
          <div class="flex flex-col grow">
            <label for="codePostal" class="text-white">Code postal:</label>
            <input type="text" id="codePostal" formControlName="codepostal" class="border p-2 rounded-md w-full" required>
          </div>
          <div class="flex flex-col grow">
            <label for="ville" class="text-white">Ville:</label>
            <input type="text" id="ville" formControlName="ville" class="border p-2 rounded-md w-full">
          </div>
        </div>
        <div class="flex flex-col grow">
          <label for="login" class="text-white">Adresse:</label>
          <input type="text" id="login" formControlName="adresse" class="border p-2 rounded-md w-full" required>
        </div>
        <div  class="flex w-full justify-between gap-3 ">
          <div class="flex flex-col grow">
            <label for="telephone" class="text-white">Telephone:</label>
            <input type="text" id="telephone" formControlName="telephone" class="border p-2 rounded-md w-full" required>
          </div>
          <div class="flex flex-col grow">
            <label for="login" class="text-white">Login:</label>
            <input type="text" id="login" formControlName="login" class="border p-2 rounded-md w-full" required>
          </div>
        </div>
        <div  class="flex w-full justify-between gap-3 ">
          <div class="flex flex-col grow">
            <label for="password" class="text-white">Mot de passe:</label>
            <input type="password" id="password" formControlName="password" class="border p-2 rounded-md w-full" required>
          </div>
          <div class="flex flex-col grow">
            <label for="confirmPassword" class="text-white">Confirmer mot de passe:</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="border p-2 rounded-md w-full" required>
          </div>
        </div>
        <div *ngIf="error" class="mt-4 text-center">
          <p  role="alert" class="alert alert-error z-100 mx-auto">{{ error }}</p>
        </div>
        <div *ngIf="success" class="text-center mt-4">
          <p  role="alert" class="alert alert-success z-100 mx-auto "><span>{{ success }}</span></p>
        </div>
        <div class="text-center my-2 p-3">
          <button type="submit" class="btn btn-primary text-white" (click)="signup()">S'inscrire</button>
        </div>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>
