<main class="absolute top-[22%] w-full text-white">
  <div class="flex justify-between absolute top-[10%]  w-full">
    <img class="animate-left z-0" src="/assets/img/jeux.png" alt="jeux">
    <img class="animate-right" src="/assets/img/jeux3.png" alt="jeux">
  </div>
  <div class="relative flex flex-col justify-between items-center text-center z-10 h-[25rem]">
    <div>
        <h1 class="text-6xl font-bold z-100 ">Bienvenue sur notre e-shop !</h1>
        <p class="text-3xl text-slate-100">Découvrez nos produits incroyables.</p>
     </div>
    <button class="btn bg-primary text-white text-xl m-2 w-fit" routerLink="/produits">Découvrez nos produits</button>
  </div>

</main>
