<main class="flex-shrink-0" style="min-height: 75vh;">
  <div class="container mt-4 ">
    <h2>Catalogue</h2>
  <div class="form-group">
    <label for="recherche">Recherche :</label>
  <input #rechercheInput type="text" class="form-control" id="recherche" placeholder="Entrer un mot-clé" (input)="onSearchInputChange(rechercheInput.value)">
  </div>
  </div>
  <div class="container mt-4">
    <div *ngIf="(produits$ | async) as produits">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Categorie</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of produits">
            <td>{{ p.nom }}</td>
            <td>{{ p.img }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.categorie_id }}</td>
            <td><button (click)="addProduit(p)" class="btn btn-primary">Ajouter au panier</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
