<header class="bg-primary mx-4 mt-4 rounded-2xl flex justify-between h-[25rem] text-white relative">
  <div class="basis-[30rem]">
    <a class="btn btn-ghost text-xl m-2" routerLink="/">Mon E-Shop</a>
  </div>
  <div class="basis-basis-[20rem] text-center">
    <h1 class="text-4xl text-white mb-[4rem] my-auto mt-4">{{currentRoute}}</h1>
  </div>
  <div class="flex-none basis-[30rem] text-right">
    <ul class="menu menu-horizontal px-3">
      <ng-container *ngIf="(client$ | async) as clientData">
        <ng-container *ngIf="!clientData || !clientData.trim(); else showWelcome">
          <li class="px-3">
            <a class="nav-link" routerLink="/login">Connexion</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/signup">Inscription</a>
          </li>
        </ng-container>
        <ng-template #showWelcome>
          <li class="px-3">
             <a class="nav-link" [routerLink]="['/panier']">Panier {{ nb$ | async }}</a>
          </li>

          <li class="px-3">
          <details>
            <summary class="w-full">
              {{ clientData }}
            </summary>
            <ul class="p-2 bg-base-100 rounded-t-none text-primary mt-0 w-[90%]" style="margin-top: 0;">
              <li class="w-full z-100" ><a routerLink="/commande">Vos commandes</a></li>
              <li class="w-full z-100" (click)="logout()"><a>Se deconnecter</a></li>
            </ul>
        </details>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </div>
</header>
